<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Perfil - trocalivro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Milena Moreira">
  <meta name="description" content="">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--cabeçalho-->
  <header>
    <div class="home-container">
      <h1 class="site-logo">trocalivro</h1>
      <div class="search-container">
        <form class="search-box" method="get" action="search.html">
            <input class="search-input" type="search" placeholder="Busque por livro ou autor" name="keyword"/>
            <button class="search-button" title="Buscar livro"><i>Pesquisar</i></button>
        </form>
    </div>
      <nav>
        <button class="header-btn" title="explorar><a href="#" id="explore">Explorar</a></button>
      </nav>
    </div> 
  </header>
  
  <!--barra de navegacao do perfil do usuario-->
  <section class="user-profile">
    <div>
      <div class="user-picture">
        <img src="https://img.skoob.com.br/TM30msyFIWwNcvsGqSivTpr7mvI=/170x170/center/top/smart/filters:format(jpeg)/https://static-sp.skoob.com.br/img/v2/base/sem-face-m-default.gif" alt="">
      </div>
      <p class="user-name">Nome do Usuário</p>
      <nav class="user-navbar">
        <button class="user-navbar-btn" title="livros recebidos"><a href="#" id="books-received">Adicionar livro</a></button>
        <p class="navbar-subtitle">Solicitações</p>
        <button class="user-navbar-btn" title="enviadas"><a href="#" id="sent">Enviadas</a></button>
        <button class="user-navbar-btn" title="enviadas"><a href="#" id="received">Recebidas</a></button>
        <p class="navbar-subtitle">Minha conta</p>
        <button class="user-navbar-btn" title="editar perfil"><a href="#" id="edit-profile">Editar perfil</a></button>
        <button class="user-navbar-btn" title="livros enviados"><a href="#" id="books-sent">Meus livros</a></button>
        <button class="user-navbar-btn" title="sair da conta"><a href="#" id="sign-out">Sair da conta</a></
      </nav>
    </div>
  </section>

  <!--pagina inicial padrao de perfil do usuario-->
  <section class="books">
    <h2>Meus livros</h2>
    <div class="books-container">
        <div class="book">
            <div class="book-image-flex">
                <img src="https://m.media-amazon.com/images/I/71ssdjzNbXL._AC_UF1000,1000_QL80_.jpg" alt="" class="book-image">
            </div>
            <h3 class="book-title">A Amiga Genial</h3>
            <p class="author-name">Elena Ferrante</p>
        </div>
    </div>
  </section>

  <!--rodapé-->
  <footer>
    <div class="footer-content">
      <p id="copyright">© 2024 trocalivro</p>
    </div>
  </footer>

</body>

</html>