.profile-page {
  font-family: 'Public Sans';
  position: right;
  width: 70%;
  float: right;
  padding: 30px;
}

.page-title {
  color: #283044;
  font-weight: 600;
  margin: 10px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.user-book {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: 1%;
}

.user-book img {
  max-width: 100%;
  max-height: 100%;
  margin: 5%;
}

.book-title{
  font-weight: 600;
  color:#283044;
  margin: 0;
}

.book-author {
  font-weight: 200;
  color:#283044;
}

.book-owner {
  font-weight: 700;
  color: #283044
}