.profile-page {
  font-family: 'Public Sans';
  width: 70%;
  float: right;
  padding: 30px;
}

.page-title {
  color: #283044;
  font-weight: 600;
  margin: 10px;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cinco colunas com largura igual */
  gap: 5%; /* Espaçamento entre os livros */
}

.user-book {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.user-book img {
  max-width: 100%;
  max-height: 100%
}

.book-title{
  font-weight: 600;
  color:#283044;
  margin: 0;
}

.book-author{
  font-weight: 200;
  color:#283044;
}